
<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<th:block layout:fragment="header" th:insert="@{fragments/header}"></th:block>

<body>
	<div class="p-3 mb-2 bg-light text-dark">
		<div class="container">
			<th:block layout:fragment="bodyHeader"
				th:include="@{/fragments/bodyHeader}"></th:block>
			<form role="form" th:action="@{'/members/delete/' + ${memberForm.id}}" th:object="${memberForm}"
				method="post">
			
				<div class="mb-3 row">
					<label class="col-sm-2 p-2">이름</label>
					<div class="col-sm-5">
						<input type="text" th:value="*{name}" name="name"
							class="form-control text-bg-light p-2" placeholder="이름을 입력하세요"
							th:class="${#fields.hasErrors('name')}? 'form-control text-bg-light p-2 fieldError' : 'form-control text-bg-light p-2'">
						<p th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Incorrect
							data</p>
					</div>
				</div>
				<div class="mb-3 row">
					<label class="col-sm-2 p-2">비밀번호</label>
					<div class="col-sm-5">
						<input type="password" th:value="*{password}" name="password"
							class="form-control text-bg-light p-2" placeholder="비밀번호를 입력하세요" id="password">
					</div>
				</div>
				<div class="mb-3 row">
					<label class="col-sm-2 p-2">성 별</label>
					<div class="col-sm-10">
						<input th:field="*{gender}" type="radio" value="남" name="gender"/>남 <input
							th:field="*{gender}" type="radio" value="여" name="gender"/>여
					</div>
				</div>
				<div class="mb-3 row">
					<label class="col-sm-2 p-2">생년월일</label>
					<div class="col-sm-5">
						<input type="text" class="form-control text-bg-light p-2" placeholder="생년월일을 입력하세요" th:value="*{birth}" name="birth">
					</div>
				</div>
				<div class="mb-3 row">
					<label class="col-sm-2 p-2">메 일</label>
					<div class="col-sm-5">
						<input type="text" class="form-control text-bg-light p-2" placeholder="메일을 입력하세요" th:value="*{mail}" name="mail">
					</div>
				</div>
				<div class="mb-3 row">
					<label class="col-sm-2 p-2">휴대폰 번호</label>
					<div class="col-sm-5">
						<input type="text" class="form-control text-bg-light p-2" placeholder="휴대폰번호를 입력하세요" th:value="*{phone}" name="phone">
					</div>
				</div>
				<div class="mb-3 row">
					<label class="col-sm-2 p-2">주소</label>
					<div class="col-sm-6">
						<input type="text" class="form-control text-bg-light p-2" placeholder="주소를 입력하세요" th:value="*{address}" name="address">
					</div>
				</div>
				 <input type="hidden" th:value="${memberForm.id}" name="id">
				<button type="submit" class="btn btn-primary">삭제</button>
			</form>
			<br/>
			<div th:replace="fragments/footer::footer"></div>
		</div>
	</div>
	
</body>
</html>